@import 'toRem';

html, body, .MuiTypography-root, .MuiButton-root, .MuiInputBase-input, .MuiInputLabel-root {
    font-family: 'Montserrat', sans-serif;
    // color: #FFFFFF;
}

.main-box{
    padding: toRem(16);
    height: 100vh;
}

.MuiButton-root{
    padding: 0 !important;
    display: flex;
}