@import 'toRem';

html, body, .MuiTypography-root, .MuiButton-root, .MuiInputBase-input, .MuiInputLabel-root, .MuiBottomNavigationAction-label {
    font-family: 'Montserrat', sans-serif !important;
}

body{
    color: #2C3E50;
    background-color: #F4F6FF;
}

.MuiTypography-root, .fc-toolbar-title, .fc th, .fc-daygrid-day-top {
    color: #2C3E50;
}

.MuiInputBase-input {
    color: #2C3E50 !important;
}

.main-box{
    padding: toRem(16);
}

.MuiButton-root{
    display: flex;
}

.fc-daygrid-event{
    border: 0;
    margin: toRem(2);
    background-color: transparent;
}

.MuiPickersLayout-root {
    .MuiDialogActions-root {
        .MuiButtonBase-root:nth-of-type(1){
            background-color: #b8001f;
            border-radius: 0.75rem;
        }

        .MuiButtonBase-root:nth-of-type(2){
            background-color: #018749;
            border-radius: 0.75rem;
        }
    }
} 

.MuiFormControl-root {
    .MuiFormLabel-root.Mui-focused {
        color: rgba(0, 0, 0, 0.6);
    }

    .MuiInputBase-root.Mui-focused {
        fieldset {
            border: 1px solid rgba(0, 0, 0, 0.23);
        }
    }
}

@media only screen and (max-width: 768px) {
    .fc-daygrid-day-events {
      display: none;
    }

    .fc-daygrid-day-top{
        min-height: toRem(72);
        

        > a {
            width: 100%;
        }
    }
  }