@import 'toRem';

.login{
    padding: toRem(16);
    padding-top: 15%;
    text-align: center;

    .loginLogo{
        display: flex;
        cursor: pointer;
        justify-content: center;
        margin-bottom: toRem(32);
    }

    .loginTitle{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: toRem(16);
    }

    .loginInput{
        margin-bottom: toRem(12);
    }

    .loginSubmit{
        margin-top: toRem(8);
        display: flex;
        justify-content: center;
        width: 100%;
        
        > button{
            padding: toRem(8) toRem(24) !important;
            border-radius: toRem(12);
            color: #fff;
            background-color: #10375C;
            
        }
    }
}