@import '../../styles/toRem';

.modal {
  padding: toRem(16);
  width: 40%;
  margin: auto;
  margin-top: 10%;
  background-color: #edede9;
  height: fit-content;

  .modalBox:focus-visible{
    outline: none;
  }
}

.mobileModal{
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #222831;
}
