@import "../../styles/toRem";

.navigationPaper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .menuAction, .logoutAction{
    color: #2c3e50;
  }
}

@media only screen and (max-width: 992px) {
  .navigationPaper {
    padding-bottom: 10px;
  }
}
